# **Task 4: Feature Encoding & Scaling:**

### **Importing Required Modules & Loading Dataset:**

In [1]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns

In [2]:
df = pd.read_csv('Datasets/adult.csv')

### **Analysis Of Dataset:**

In [73]:
np.sort(df['age'].unique())  # Contains ages from 17 to 90 - NUMERICAL FEATURE

array([17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33,
       34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50,
       51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67,
       68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84,
       85, 86, 87, 88, 89, 90])

In [37]:
print(df['workclass'].value_counts().get('?')) # Contains different types of work
df['workclass'].unique() # CATEGORICAL FEATURE

2799

array(['Private', 'Local-gov', '?', 'Self-emp-not-inc', 'Federal-gov',
       'State-gov', 'Self-emp-inc', 'Without-pay', 'Never-worked'],
      dtype=object)

In [74]:
'fnlwgt' # How many people in the population this row represents. - NUMERICAL FEATURE
df['education'].unique() # CATEGORICAL FEATURE

array(['11th', 'HS-grad', 'Assoc-acdm', 'Some-college', '10th',
       'Prof-school', '7th-8th', 'Bachelors', 'Masters', 'Doctorate',
       '5th-6th', 'Assoc-voc', '9th', '12th', '1st-4th', 'Preschool'],
      dtype=object)

In [18]:
np.sort(df['educational-num'].unique()) # Educational -level from 1 to 16 - NUMERICAL FEATURE(ORDINAL)

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16])

In [76]:
df['marital-status'].unique() # About the marriage info - CATEGORICAL FEATURE

array(['Never-married', 'Married-civ-spouse', 'Widowed', 'Divorced',
       'Separated', 'Married-spouse-absent', 'Married-AF-spouse'],
      dtype=object)

In [20]:
df['occupation'].unique() # These are different professions collected - CATEGORICAL FEATURE

array(['Machine-op-inspct', 'Farming-fishing', 'Protective-serv', '?',
       'Other-service', 'Prof-specialty', 'Craft-repair', 'Adm-clerical',
       'Exec-managerial', 'Tech-support', 'Sales', 'Priv-house-serv',
       'Transport-moving', 'Handlers-cleaners', 'Armed-Forces'],
      dtype=object)

In [21]:
df['relationship'].unique() # Contains 6 type of people based on relationship - CATEGORICAL FEATURE

array(['Own-child', 'Husband', 'Not-in-family', 'Unmarried', 'Wife',
       'Other-relative'], dtype=object)

In [22]:
df['race'].unique() # Contains 5 different type of people based on race - CATEGORICAL FEATURE

array(['Black', 'White', 'Asian-Pac-Islander', 'Other',
       'Amer-Indian-Eskimo'], dtype=object)

In [23]:
df['gender'].unique() # Only contains male and female - CATEGORICAL FEATURE

array(['Male', 'Female'], dtype=object)

In [30]:
#capital gain is the Income earned from investments (stocks, property, etc.) - NUMERICAL FEATURE
#capital loss is the Income lost from investments - NUMERICAL FEATURE
np.sort(df['hours-per-week'].unique()) # NUMERICAL FEATURE

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51,
       52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68,
       69, 70, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 84, 85, 86, 87,
       88, 89, 90, 91, 92, 94, 95, 96, 97, 98, 99])

In [34]:
df['income'].unique() # income is divided into > 50K dollars or <= 50K dollars. # CATEGORICAL FEATURE

array(['<=50K', '>50K'], dtype=object)

In [38]:
print(df['native-country'].value_counts().get('?')) # 857 null values
df['native-country'].unique() # contains 41+ differentcountries

857

array(['United-States', '?', 'Peru', 'Guatemala', 'Mexico',
       'Dominican-Republic', 'Ireland', 'Germany', 'Philippines',
       'Thailand', 'Haiti', 'El-Salvador', 'Puerto-Rico', 'Vietnam',
       'South', 'Columbia', 'Japan', 'India', 'Cambodia', 'Poland',
       'Laos', 'England', 'Cuba', 'Taiwan', 'Italy', 'Canada', 'Portugal',
       'China', 'Nicaragua', 'Honduras', 'Iran', 'Scotland', 'Jamaica',
       'Ecuador', 'Yugoslavia', 'Hungary', 'Hong', 'Greece',
       'Trinadad&Tobago', 'Outlying-US(Guam-USVI-etc)', 'France',
       'Holand-Netherlands'], dtype=object)

In [62]:
df.head()

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,education_encoded
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K,6
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K,8
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K,11
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K,9
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K,9

### **Copying dataset**(not to lose original data) **and Importing sklearn modules:**

In [84]:
filtered_dataset = df.copy()

In [85]:
from sklearn.preprocessing import OneHotEncoder, StandardScaler, LabelEncoder,OrdinalEncoder
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split

### **Ordinal Encoding for Education column:**

In [86]:
filtered_dataset['education'].unique()

array(['11th', 'HS-grad', 'Assoc-acdm', 'Some-college', '10th',
       'Prof-school', '7th-8th', 'Bachelors', 'Masters', 'Doctorate',
       '5th-6th', 'Assoc-voc', '9th', '12th', '1st-4th', 'Preschool'],
      dtype=object)

In [87]:
priority = [
    'Preschool', '1st-4th', '5th-6th', '7th-8th', '9th', '10th',
    '11th', '12th', 'HS-grad', 'Some-college', 'Assoc-voc',
    'Assoc-acdm', 'Bachelors', 'Masters', 'Prof-school', 'Doctorate'
]

In [88]:
# Now doing Ordinal Encoding on 'Education' column
oe = OrdinalEncoder(categories=[priority])
oe.fit(filtered_dataset[['education']])

OrdinalEncoder(categories=[['Preschool', '1st-4th', '5th-6th', '7th-8th', '9th',
                            '10th', '11th', '12th', 'HS-grad', 'Some-college',
                            'Assoc-voc', 'Assoc-acdm', 'Bachelors', 'Masters',
                            'Prof-school', 'Doctorate']])

In [89]:
filtered_dataset['education'] = oe.transform(filtered_dataset[['education']]).astype(np.int32)

In [96]:
filtered_dataset.head()

,age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,6,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K
1,38,Private,89814,8,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K
2,28,Local-gov,336951,11,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K
3,44,Private,160323,9,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K
4,18,?,103497,9,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K

In [95]:
filtered_dataset.drop(columns=['educational-num'],inplace=True) # since they both represent same, removing
# either of it is better

### **Label Encoding for Income column:**

In [97]:
filtered_dataset['income'].unique()

array(['<=50K', '>50K'], dtype=object)

In [98]:
le = LabelEncoder()
filtered_dataset['income'] = le.fit_transform(filtered_dataset['income'])

In [99]:
filtered_dataset.head() # <=50K mean 0 and >50K mean 1

,age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,6,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0
1,38,Private,89814,8,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,0
2,28,Local-gov,336951,11,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,1
3,44,Private,160323,9,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1
4,18,?,103497,9,Never-married,?,Own-child,White,Female,0,0,30,United-States,0

### **One Hot Encoder for Non-ranked Categorical Columns:**

In [100]:
filtered_dataset.head()

,age,workclass,fnlwgt,education,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,6,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,0
1,38,Private,89814,8,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,0
2,28,Local-gov,336951,11,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,1
3,44,Private,160323,9,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,1
4,18,?,103497,9,Never-married,?,Own-child,White,Female,0,0,30,United-States,0

In [106]:
ohe = OneHotEncoder(handle_unknown='ignore',sparse_output=False,drop='first')

In [112]:
filtered_dataset.shape

(48842, 14)

In [109]:
categorical_cols = [
    'workclass',
    'marital-status',
    'occupation',
    'relationship',
    'race',
    'gender',
    'native-country'
]

In [114]:
encoded = ohe.fit_transform(filtered_dataset[categorical_cols])

encoded_df = pd.DataFrame(
    encoded,
    columns=ohe.get_feature_names_out(categorical_cols)
)
encoded_df.head()

,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,workclass_Private,workclass_Self-emp-inc,workclass_Self-emp-not-inc,workclass_State-gov,workclass_Without-pay,marital-status_Married-AF-spouse,marital-status_Married-civ-spouse,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [115]:
original_df_dropped = filtered_dataset.copy()
original_df_dropped.drop(columns=categorical_cols,inplace=True)
original_df_dropped.head()

   age  fnlwgt  education  capital-gain  capital-loss  hours-per-week  income
0   25  226802          6             0             0              40       0
1   38   89814          8             0             0              50       0
2   28  336951         11             0             0              40       1
3   44  160323          9          7688             0              40       1
4   18  103497          9             0             0              30       0

In [117]:
final_dataset_after_ohe = pd.concat(
    [original_df_dropped, encoded_df],
    axis=1
)

In [121]:
final_dataset_after_ohe.head()

,age,fnlwgt,education,capital-gain,capital-loss,hours-per-week,income,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,25,226802,6,0,0,40,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,38,89814,8,0,0,50,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,28,336951,11,0,0,40,1,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,44,160323,9,7688,0,40,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,18,103497,9,0,0,30,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [122]:
final_dataset_after_ohe.shape

(48842, 86)

### **Scaling Numerical Features using StandardScaler:**

In [127]:
numerical_cols = [
    'age',
    'fnlwgt',
    'education',
    'capital-gain',
    'capital-loss',
    'hours-per-week'
]

In [128]:
scaler = StandardScaler()

In [130]:
scaled_output = scaler.fit_transform(final_dataset_after_ohe[numerical_cols])

In [133]:
scaled_output

array([[-0.99512893,  0.35167453, -1.19725891, -0.14480353, -0.2171271 ,
        -0.03408696],
       [-0.04694151, -0.94552415, -0.41933527, -0.14480353, -0.2171271 ,
         0.77292975],
       [-0.77631645,  1.3947231 ,  0.74755018, -0.14480353, -0.2171271 ,
        -0.03408696],
       ...,
       [ 1.41180837, -0.35751025, -0.41933527, -0.14480353, -0.2171271 ,
        -0.03408696],
       [-1.21394141,  0.11198424, -0.41933527, -0.14480353, -0.2171271 ,
        -1.64812038],
       [ 0.97418341,  0.93049361, -0.41933527,  1.87131501, -0.2171271 ,
        -0.03408696]])

In [134]:
scaled_df = pd.DataFrame(
    scaled_output,
    columns=numerical_cols,
    index=final_dataset_after_ohe.index
)

In [135]:
scaled_df

,age,fnlwgt,education,capital-gain,capital-loss,hours-per-week
0,-0.995129,0.351675,-1.197259,-0.144804,-0.217127,-0.034087
1,-0.046942,-0.945524,-0.419335,-0.144804,-0.217127,0.772930
2,-0.776316,1.394723,0.747550,-0.144804,-0.217127,-0.034087
3,0.390683,-0.277844,-0.030373,0.886874,-0.217127,-0.034087
4,-1.505691,-0.815954,-0.030373,-0.144804,-0.217127,-0.841104
...,...,...,...,...,...,...
48837,-0.849254,0.640492,0.747550,-0.144804,-0.217127,-0.195490
48838,0.098933,-0.334178,-0.419335,-0.144804,-0.217127,-0.034087
48839,1.411808,-0.357510,-0.419335,-0.144804,-0.217127,-0.034087
48840,-1.213941,0.111984,-0.419335,-0.144804,-0.217127,-1.648120
48841,0.974183,0.930494,-0.419335,1.871315,-0.217127,-0.034087

In [136]:
final_dataset_after_scaling = final_dataset_after_ohe.copy()

In [137]:
final_dataset_after_scaling[numerical_cols] = scaled_df

In [139]:
final_dataset_after_scaling.head()

,age,fnlwgt,education,capital-gain,capital-loss,hours-per-week,income,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,-0.995129,0.351675,-1.197259,-0.144804,-0.217127,-0.034087,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,-0.046942,-0.945524,-0.419335,-0.144804,-0.217127,0.772930,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,-0.776316,1.394723,0.747550,-0.144804,-0.217127,-0.034087,1,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.390683,-0.277844,-0.030373,0.886874,-0.217127,-0.034087,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,-1.505691,-0.815954,-0.030373,-0.144804,-0.217127,-0.841104,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

### **Compare model readiness before and after scaling:**

In [141]:
df.head(5)

,age,workclass,fnlwgt,education,educational-num,marital-status,occupation,relationship,race,gender,capital-gain,capital-loss,hours-per-week,native-country,income,education_encoded
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K,6
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K,8
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K,11
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K,9
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K,9

In [140]:
final_dataset_after_scaling.head(5)

,age,fnlwgt,education,capital-gain,capital-loss,hours-per-week,income,workclass_Federal-gov,workclass_Local-gov,workclass_Never-worked,...,native-country_Portugal,native-country_Puerto-Rico,native-country_Scotland,native-country_South,native-country_Taiwan,native-country_Thailand,native-country_Trinadad&Tobago,native-country_United-States,native-country_Vietnam,native-country_Yugoslavia
0,-0.995129,0.351675,-1.197259,-0.144804,-0.217127,-0.034087,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,-0.046942,-0.945524,-0.419335,-0.144804,-0.217127,0.772930,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,-0.776316,1.394723,0.747550,-0.144804,-0.217127,-0.034087,1,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.390683,-0.277844,-0.030373,0.886874,-0.217127,-0.034087,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,-1.505691,-0.815954,-0.030373,-0.144804,-0.217127,-0.841104,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [143]:
df[numerical_cols].describe()

                age        fnlwgt  capital-gain  capital-loss  hours-per-week
count  48842.000000  4.884200e+04  48842.000000  48842.000000    48842.000000
mean      38.643585  1.896641e+05   1079.067626     87.502314       40.422382
std       13.710510  1.056040e+05   7452.019058    403.004552       12.391444
min       17.000000  1.228500e+04      0.000000      0.000000        1.000000
25%       28.000000  1.175505e+05      0.000000      0.000000       40.000000
50%       37.000000  1.781445e+05      0.000000      0.000000       40.000000
75%       48.000000  2.376420e+05      0.000000      0.000000       45.000000
max       90.000000  1.490400e+06  99999.000000   4356.000000       99.000000

In [144]:
final_dataset_after_scaling[numerical_cols].describe()

,age,fnlwgt,education,capital-gain,capital-loss,hours-per-week
count,4.884200e+04,4.884200e+04,4.884200e+04,4.884200e+04,4.884200e+04,4.884200e+04
mean,2.281092e-16,-5.848208e-17,-9.208746e-17,1.047440e-17,-1.018345e-17,4.466169e-17
std,1.000010e+00,1.000010e+00,1.000010e+00,1.000010e+00,1.000010e+00,1.000010e+00
min,-1.578629e+00,-1.679680e+00,-3.531030e+00,-1.448035e-01,-2.171271e-01,-3.181452e+00
25%,-7.763164e-01,-6.828752e-01,-4.193353e-01,-1.448035e-01,-2.171271e-01,-3.408696e-02
50%,-1.198790e-01,-1.090844e-01,-3.037346e-02,-1.448035e-01,-2.171271e-01,-3.408696e-02
75%,6.824334e-01,4.543232e-01,7.475502e-01,-1.448035e-01,-2.171271e-01,3.694214e-01
max,3.745808e+00,1.231723e+01,2.303397e+00,1.327438e+01,1.059179e+01,4.727312e+00

#### **Model Readiness: Before vs After Scaling**

---

##### **Before Scaling**

###### **Observations**
- Numerical features have **very different ranges**
- `fnlwgt` and `capital-gain` have **very large values**
- `age` and `hours-per-week` have **small values**

###### **Problems**
- Large-value features **dominate the model**
- Distance-based models behave poorly
- Gradient-based models converge slowly

###### **Model Readiness**
❌ Not model-ready

---

##### **After Scaling (StandardScaler)**

###### **Observations**
- All numerical features have:
  - Mean ≈ 0
  - Standard deviation ≈ 1
- Feature values are on a **similar scale**

###### **Improvements**
- No feature dominates due to size
- Distance calculations become fair
- Faster and stable model training

###### **Model Readiness**
✅ Model-ready

---

##### **Comparison Summary**

| Aspect | Before Scaling | After Scaling |
|------|---------------|---------------|
| Feature scale | Uneven | Standardized |
| Feature dominance | Present | Removed |
| Distance-based models | Poor | Good |
| Gradient-based models | Slow | Stable |
| Overall readiness | ❌ No | ✅ Yes |

---

##### **Conclusion**

> Scaling transforms the dataset from numerically imbalanced to model-ready, enabling correct and efficient machine learning.

### **Impact of scaling on ML algorithms:**

#### **Impact of Scaling on ML Algorithms**

- Scaling puts all numerical features on the **same range**
- Prevents large-value features from **dominating the model**

##### **Algorithms that NEED Scaling**
- **Logistic Regression** → faster and stable convergence
- **KNN** → fair distance calculation
- **SVM** → correct margin and boundary
- **PCA** → meaningful principal components
- **Neural Networks** → stable and faster training

##### **Algorithms that DO NOT Need Scaling**
- **Decision Trees**
- **Random Forest**
- **Gradient Boosting**

##### **Key Takeaway:**
> Scaling is essential for distance-based and gradient-based algorithms, but not required for tree-based models.

### **Saving Pre-Processed Dataset:**

In [142]:
final_dataset_after_scaling.to_csv('Datasets/adult_preprocessed.csv',index=False)